<!DOCTYPE html>
<html>
  <head>
    <title>Sami's Cool Page: <%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Here is my cool page: </h1>
    <%= yield %>
  </body>
</html>
